body{
	background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

	font-family:"Open Sans", "helvetica", arial, sans-serif;
	font-weight: 300;
	color:#62686f;
}

h1, h2, h3, h4, h5, h6{
	color:#333;
	font-weight: 300;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.main-header{
	padding: 1px;
	text-align:center;
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 100;
}

.main-header__avatar{
	display: block;
	margin: 0 auto;
	margin-top: -70px;
	margin-bottom: 10px;
	border:3px solid white;

	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
	border-radius: 999px;
}

.main-header h1{
	margin-bottom: 50px;
	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	color: white;
}

ul.nostyle{
	list-style:none;
	padding: 0;
	margin: 0;
	text-align: center
}

ul.inline-items li{
	display: inline-block;
}

.main-nav ul li{
	margin: 15px 10px;
}

.main-nav ul li a {
	color: #fff;
	font-size:0.9rem;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration:none;
}

.main-nav {
	background-color: #333;
}

.main-nav ul li a:hover{
	text-decoration: underline;
}

.info-section{
	background-color: #fff;
	padding: 30px 60px;
}

.whatido__skill-list{
	list-style:none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.whatido__skill-list .whatido__skill
{
	float: left;
	margin-top: 60px;
}

.whatido__skill-list li h3{
	text-align: center;
}

.whatido__skill-list li p{
	text-align: center;
}

.info-section header h2{
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align:center;
}

.info-section__description{
	font-style:italic;
	text-align:center;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 100px;
  width: 33.3%;

}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 100px;
  width: 33.3%;
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 100px;
  width: 33.3%;
}

.info-section header h2:after{
	content:"";
	display: block;
	width: 90px;
	border-bottom: 3px solid black;
	margin: 10px auto;
}

.education-experience__list li img{
	width: 180px;
	float: left;
}

.education-experience__list li{
	overflow: hidden;
	list-style:none;
	padding: 0;
	margin: 0;
	display: block;
}

.education-experience__list h3,
.education-experience__title,
.education-experience__description{
	padding-left: 50px;
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

.photos__list li img{
	width: 100%;
}

.photos__list li,
.get-in-touch li {
	list-style: none;
    width: 25%;
    padding: 10px;
    float: left;
    text-align: center;
}

.contact input,
.contact textarea{
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	padding: 8px;
	margin-bottom:5%;
}

.contact button{
	border:none;
	border-radius: 9999px;

	background: #ffd524;

	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	color: #fff;
	box-shadow: 0 3px 0 #daae1d;

	width: 100%;
}
.contact form{
	position: relative;
	width: 40%;
	margin: 0 auto;
}
.contact{ 
	text-align:left;
}

.contact label {
	position: absolute;
	width:20%;
}
.contact .name{
	left: -15%;
	top: 5%;
}
.contact .email{
	left: -15%;
	top: 30%;
}
.contact .message{
	left: -22%;
	top: 60%;
}
